{{#if shouldRender}}
  <div class="ideas-status-visualization">
    {{ideas-visualization topics=this.topics}}
    {{ideas-tag-filters 
      tagMap=this.ideasService.tagMap
      selectedTag=this.ideasService.selectedTag
      onTagSelected=this.onTagSelected
    }}
  </div>
{{/if}} 