{{#if shouldRender}}
  <div class="ideas-status-visualization">
    {{component "ideas-visualization" topics=topics}}
    {{component "ideas-tag-filters" 
      tagMap=ideasService.tagMap
      selectedTag=ideasService.selectedTag
      onTagSelected=(action "onTagSelected")
    }}
  </div>
{{/if}} 